<%# requires a :i18n store attribute %>
<fieldset class="box tabular"><legend><%= l(:label_translated_language) %></legend>
  <%= f.fields_for :i18n do |fi| %>
    <% Setting.translated_language_ids.each do |locale| %>
      <p>
      <%= fi.text_field "#{translated_field}[#{locale}]",
        value: f.object.i18n&.dig(translated_field, locale),
        label: ll(locale, :general_lang_name),
        :size => 50 %>
      </p>
    <% end %>
  <% end %>
</fieldset>
